<%- include('../layouts/header') %>

<div class="min-h-full">
    <%- include('../layouts/navBar') %>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 text-center">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900">Bienvenue aux Jeux Olympiques Paris 2024</h1>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 size-40 text-center">
        <img src="https://www.paris2024.org/favicon-192x192.png">
      </div>
        <%- include('./Resultats/showResults') %>
    </main>
  </div>

  <%- include('../layouts/footer') %>
  