<div class="flex flex-col items-center  px-8 py-6">
    <!-- Search Bar and Add New Item Button -->
    <div class="mb-4 flex items-center justify-between w-full">
        <div class="flex items-center">
            <input type="text" class="border border-gray-300 px-2 py-1 rounded-md focus:outline-none focus:ring focus:border-blue-300" placeholder="Search...">
            <button class="bg-blue-500 hover:bg-blue-700 text-white px-3 py-1 rounded-md focus:outline-none focus:ring focus:border-blue-300 ml-2">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
  
    <!-- Table -->
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b text-center">Nom</th>
          <th class="py-2 px-4 border-b text-center">Prenom</th>
          <th class="py-2 px-4 border-b text-center">Sport</th>
          <th class="py-2 px-4 border-b text-center">Epreuve</th>
          <th class="py-2 px-4 border-b text-center">Date</th>
          <th class="py-2 px-4 border-b text-center">Lieu</th>
          <th class="py-2 px-4 border-b text-center">Score</th>
          <th class="py-2 px-4 border-b text-center">Rang</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="py-2 px-4 border-b text-center">Nom</td>
          <td class="py-2 px-4 border-b text-center">Prénom</td>
          <td class="py-2 px-4 border-b text-center">Sport</td>
          <td class="py-2 px-4 border-b text-center">Epreuve</td>
          <td class="py-2 px-4 border-b text-center">12/12/2012</td>
          <td class="py-2 px-4 border-b text-center">Pays</td>
          <td class="py-2 px-4 border-b text-center">Score</td>
          <td class="py-2 px-4 border-b text-center">Rang</td>
        </tr>
      </tbody>
    </table>
  
</div>
  