<%- include('../../layouts/header') %>

<div class="container p-4">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-24 w-auto" src="https://www.paris2024.org/favicon-192x192.png" alt="Paris 2024">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Réinitialisation du mot de passe</h2>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" onsubmit="reset_password(event)">
            <div>
              <label for="code_pin" class="block text-sm font-medium leading-6 text-gray-900">Code PIN</label>
              <div class="mt-2">
                <input id="code_pin" name="code_pin" type="number" autocomplete="code_pin" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-neutral-700 sm:text-sm sm:leading-6">
                <input id="email" name="email" type="email" class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-neutral-700 sm:text-sm sm:leading-6 hidden" value="<%= email %>">
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Nouveau mot de passe</label>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="new-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-neutral-700 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-neutral-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-neutral-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-800">Sauvegarder</button>
            </div>
          </form>
      
         
        </div>
      </div>

       <script src="/js/auth/reset_password.js"></script>

</div>


<%- include('../../layouts/footer') %>