<%- include('../../layouts/header') %>

<div class="min-h-full">
    <%- include('../../layouts/navbar-public') %>
  
    <header class="bg-white">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8 text-center">
        <h1 class="text-3xl font-bold text-gray-900 mt-4">Sports</h1>
      </div>
    </header>
    <main>
     
    </main>
  </div>

  <%- include('../../layouts/footer') %>
  